* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

nav {
    padding: 10px 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-logo img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#collapse {
    display: none;
}



.toggle-icon {
    font-size: 2rem;
    cursor: pointer;
}

nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: rgb(174, 174, 255);
    width: 25%;
    height: 100vh;
    list-style: none;
    text-align: center;
    transition: .5s ease-in-out;
    padding-top: 15%;
}

nav ul li a {
    text-decoration: none;
    line-height: 100px;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 transparent;
    transition: box-shadow 1s, color 1s;
}

nav ul li a:hover {
    box-shadow: inset 0 50px 0 0 #c38bf9;
    color: black;
    padding: 3px 10px;
}


#collapse:checked~ul {
    left: 0;
}

#header-details {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#header-details-text {
    text-align: center;
}

#header-details-text h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

#header-details-text p {
    font-family: 'Dosis', sans-serif;
}

/* Future arrrived */

#future-arrived {
    margin: 150px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.future-arrived-image {
    position: relative;
}

.future-arrived-image .future-arrived-main-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.future-arrived-image div img {
    width: 50px;
    position: absolute;
    bottom: 25%;
    left: 25%;
    opacity: .5;
}

.future-arrived-text {
    margin-bottom: 100px;
    width: 100%;
}

.future-arrived-text h1 {
    padding: 50px 10px 20px 30px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/future-arrived-background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.future-arrived-text p {
    padding: 0 100px 30px 70px;
    font-family: 'Dosis', sans-serif;
    text-align: left;
}

.future-arrived-text a {
    text-decoration: none;
    margin: 0 0 0 70px;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to left, rgb(134, 134, 255) 0%, rgb(202, 146, 255)100%);
    box-shadow: inset 0 0 0 0 transparent;
    transition: 1s;
}

.future-arrived-text a:hover {
    box-shadow: inset 0 30px 0 0 rgb(157, 146, 255);
    color: black;
}


/* Machine pal */

#machine-pal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 150px;
}

.machine-pal-text {
    width: 100%;
    padding: 0 30px;
}

.machine-pal-text h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.machine-pal-text p {
    font-family: 'Dosis', sans-serif;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 200;
}

.machine-pal-text a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px 0 0 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    font-weight: 800;
    background: black;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

.machine-pal-text a:hover {
    box-shadow: inset 140px 0 0 0 #fff;
    color: black;
    border: 1px solid transparent;
}

.machine-pal-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Toyota concept */

#toyota-concept {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
}

.toyota-concept-text {
    padding: 0 0 100px 30px;
}

.toyota-concept-text h1 {
    padding: 50px 0 20px 10px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/toyota-concept-background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.toyota-concept-text p {
    padding: 0 30px 30px;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}

.toyota-concept-text a {
    text-decoration: none;
    margin: 0 0 0 30px;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(to right, rgb(134, 226, 226) 0%, rgb(119, 119, 255)100%);

    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

.toyota-concept-text a:hover {
    box-shadow: inset 140px 0 0 0 #fff;
    color: black;
    border: 1px solid transparent;

}

.toyota-concept-image {
    position: relative;
}

.toyota-concept-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.toyota-concept-image-logo {
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 25%;
    opacity: .5;
}


/* Concept looks  */
#concept-looks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.concept-looks-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.concept-looks-text {
    margin: 0 0 100px 0;
}

.concept-looks-text h1 {
    padding: 50px 0 20px 50px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.concept-looks-text p {
    padding: 0 80px 30px;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}

.concept-looks-text a {
    text-decoration: none;
    margin: 0 0 0 90px;
    padding: 7px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    background-color: black;

    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}


/* concept team */

#concept-team {
    background-image: linear-gradient(to right, rgb(84, 185, 185) 0%, rgb(129, 129, 245) 75%, rgb(184, 115, 248)100%);
    height: 50vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    padding: 100px 0 100px 100px;
}

.concept-team-text p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30px;
    color: rgb(245, 235, 235);
    text-align: left;
}

.concept-team-planning {
    border-radius: 160px 0 0 160px;
    background-color: white;
    padding: 50px 0 50px 100px;
}

.concept-team-planning h1 {
    /* padding-left: 50px; */
    font-family: 'Crimson Text', serif;
    font-style: oblique;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.concept-team-planning a {
    text-decoration: none;
    /* margin: 0 0 0 90px; */
    padding: 7px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    background-color: black;
}

/* Concept team end  */

/* Join us start */
#join-us-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 140px;
}

.join-us-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* .future-arrived-image div img {
    width: 50px;
    position: absolute;
    bottom: 25%;
    left: 25%;
    opacity: .3;
} */

.join-us-text {
    margin: 100px 0;
    width: 100%;
}

.join-us-text h1 {
    padding: 50px 20px;
    font-size: 2.5rem;
    background-image: url("./images/future-arrived-background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.join-us-text p {
    padding: 0 90px 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-style: oblique;
}

.join-us-text p a {
    text-decoration: none;
    color: olivedrab;
}

.join-us-text .join-us-btn {
    text-decoration: none;
    margin: 0 0 0 90px;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(to left, rgb(134, 134, 255) 0%, rgb(202, 146, 255)100%);
}

/* join us end */


/* join future */
#join-future {
    margin-left: 200px;
}

#join-future h1 {
    font-weight: lighter;
    padding: 50px 0 30px 50px;

    background-image: url("./images/future-arrived-background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#join-future p {
    padding-left: 50px;
    margin: 0 0 50px 0;
    line-height: 20px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* join future end */

/* Footer image container */

#footer-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-bottom: 50px; */
    position: relative;
}

#footer-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


footer {
    background-image: linear-gradient(to right, rgb(175, 175, 250), rgb(221, 185, 255));
    color: white;
    padding: 50px 30px;
}

.footer-image-logo {
    text-align: center;
    margin-bottom: 30px;
}

.footer-image-logo img {
    width: 50px;
    opacity: .5;
}

.footer-follow-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-company-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer-company-about-list {
    border-left: 2px solid rgb(235, 203, 248);
    padding-left: 50px;
}

.footer-company-about-list a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: white;
}

.news-letter-form {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 30px 20px;
}

.news-letter-form h3 {
    text-align: center;
}

.subscribe-form {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.subscribe-form input {
    border: 0;
    background-color: transparent;
    margin-left: 10px;
}

.subscribe-form input:focus {
    outline: none;
}

.fa-paper-plane {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(67, 43, 90);
    padding: 5px;
    border-radius: 50%;
}

.follow-icon {
    margin-top: 30px;
    text-align: center;
}

.follow-icon-link {
    margin-top: 20px;
}

.follow-icon-link a {
    font-size: 2rem;
    padding: 10px;
    color: white;
}


@media screen and (max-width: 650px) and (min-width: 200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        /* overflow-x: hidden; */
    }

    body {
        overflow-x: hidden;
    }

    nav {
        padding: 10px 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-logo img {
        width: 50px;
        height: 50px;
    }

    .toggle-bar i {
        font-size: 1.5rem;
    }

    #header-details {
        margin: 100px 0;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .header-details-image img {
        max-width: 100%;
    }

    #header-details-text {
        text-align: center;
    }

    #header-details-text h1 {
        font-size: 2.5rem;
    }

    #header-details-text p {
        font-family: 'Ysabeau Infant', sans-serif;
        font-size: .9rem;
        padding: 0 10px;
    }

    /* Future arrived */

    #future-arrived {
        margin: 70px 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .future-arrived-image {
        position: relative;
    }

    .future-arrived-image .future-arrived-main-image {
        /* object-fit: contain; */
        max-width: 100%;
        height: auto;
    }

    .future-arrived-image div img {
        width: 50px;
        position: absolute;
        bottom: 5%;
        left: 25%;
        opacity: .3;
    }

    .future-arrived-text {
        margin-bottom: 100px;
        width: 100%;
        height: 100%;
    }

    .future-arrived-text h1 {
        padding: 20px 10px 20px 30px;
        font-size: 1.5rem;
        background-image: url("./images/future-arrived-background.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .future-arrived-text p {
        padding: 0 50px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
    }

    .future-arrived-text a {
        text-decoration: none;
        margin: 0 0 0 40px;
        padding: 5px 10px;
        border-radius: 30px;
        color: white;
        font-weight: 800;
        background-image: linear-gradient(to left, rgb(134, 134, 255) 0%, rgb(202, 146, 255)100%);
    }

    /* Mechine pal */

    #machine-pal {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-bottom: 50px;
    }

    .machine-pal-text {
        padding: 0 25px;
        width: 100%;
        height: auto;
    }

    .machine-pal-text h1 {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .machine-pal-text p {
        font-family: 'Crimson Text', serif;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 1rem;
        font-weight: 100;
    }

    .machine-pal-text a {
        text-decoration: none;
        font-family: 'Bebas Neue', sans-serif;
        /* margin: 20px 0 0 0; */
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
        font-weight: 800;
        background: black;
    }

    .machine-pal-image img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        margin-top: 30px;
    }

    /* Toyota concept */

    #toyota-concept {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        align-items: center;
    }

    .toyota-concept-text {
        margin: 0 0 0;
        height: auto;
    }

    .toyota-concept-text h1 {
        padding: 30px 0 10px 30px;
        font-size: 1rem;
        background-image: url("./images/toyota-concept-background.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .toyota-concept-text p {
        padding: 0 50px 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
    }

    .toyota-concept-text a {
        text-decoration: none;
        margin: 0 0 0 50px;
        padding: 5px 10px;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        background-image: linear-gradient(to right, rgb(134, 226, 226) 0%, rgb(119, 119, 255)100%);
    }

    .toyota-concept-image {
        position: relative;
    }

    .toyota-concept-image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .toyota-concept-image-logo {
        width: 50px;
        position: absolute;
        bottom: 5%;
        right: 10%;
        opacity: .5;
    }

    /* concept looks */
    #concept-looks {
        display: grid;
        grid-template-columns: 1fr;
    }

    .concept-looks-image img {
        object-fit: contain;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .concept-looks-text {
        margin: 0 0 100px 0;
        height: 100%;
    }

    .concept-looks-text h1 {
        padding: 20px 20px 30px;
        font-size: 1.5rem;
    }

    .concept-looks-text p {
        padding: 0 10px 30px 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
    }

    .concept-looks-text a {
        text-decoration: none;
        margin: 0 0 0 40px;
        padding: 4px 15px;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        background-color: black;
    }

    /* Concept team */
    #concept-team {
        background-image: linear-gradient(to right, rgb(84, 185, 185) 0%, rgb(184, 115, 248)100%);
        height: auto;

        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        padding: 30px 0 30px 30px;
    }

    .concept-team-text p {
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 25px;
        color: rgb(245, 235, 235);
        text-align: left;
    }

    .concept-team-planning {
        border-radius: 180px 0 0 180px;
        background-color: white;
        padding: 30px 0 30px 90px;
    }

    .concept-team-planning h1 {
        /* padding-left: 50px; */
        font-family: 'Crimson Text', serif;
        font-style: oblique;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .concept-team-planning a {
        text-decoration: none;
        font-size: .8rem;
        /* margin: 0 0 0 90px; */
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
        font-weight: 800;
        background-color: black;
    }

    /* Join us */
    #join-us-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-bottom: 20px;
    }

    .join-us-image img {
        object-fit: cover;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .join-us-text {
        margin: 30px 0 30px 0;
        width: 100%;
        /* height: auto; */
    }

    .join-us-text h1 {
        padding: 20px;
        font-size: 1.5rem;
        background-image: url("./images/future-arrived-background.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .join-us-text p {
        padding: 0 40px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
        font-style: oblique;
    }

    .join-us-text p a {
        text-decoration: none;
        color: olivedrab;
    }

    .join-us-text .join-us-btn {
        text-decoration: none;
        margin: 0 0 0 40px;
        padding: 5px 10px;
        border-radius: 20px;
        color: white;
        font-weight: 200;
        background-image: linear-gradient(to left, rgb(134, 134, 255) 0%, rgb(202, 146, 255)100%);
    }

    /* Join future */
    #join-future {
        margin-left: 10px;
    }

    #join-future h1 {
        font-weight: lighter;
        padding: 50px 0 30px 50px;

        background-image: url("./images/future-arrived-background.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #join-future p {
        padding-left: 50px;
        margin: 0 0 50px 0;
        line-height: 20px;
        font-weight: 200;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* Footer up image */
    #footer-image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-bottom: 50px; */
        position: relative;
    }

    #footer-image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* footer */
    footer {
        background-image: linear-gradient(to right, rgb(175, 175, 250), rgb(221, 185, 255));
        color: white;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .footer-image-logo {
        display: none;
    }

    .footer-follow-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        place-items: center;
    }

    .footer-company-logo {
        text-align: center;
    }

    .footer-company-about-list {
        border-left: 2px solid rgb(235, 203, 248);
        border-right: 2px solid rgb(235, 203, 248);
        padding: 0 50px 0 50px;
    }

    .news-letter-form {
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 10px;
        padding: 30px 20px;
    }

    .news-letter-form h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .subscribe-form {
        background-color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
    }

    .subscribe-form input {
        border: 0;
        background-color: transparent;
        margin-left: 10px;
    }

    .fa-paper-plane {
        font-size: 1rem;
        color: white;
        background-color: rgb(67, 43, 90);
        padding: 5px;
        border-radius: 50%;
    }

    .follow-icon {
        margin-top: 10px;
        text-align: center;
    }

    .follow-icon-link {
        height: auto;
    }

    .follow-icon-link a {
        font-size: 1rem;
        padding: 5px;
        color: white;
    }
}